<div class="container">
  <div class="col-md-6">
    <h2> Recipes Details</h2>
    <button type="button" class="btn btn-success btn-add" [routerLink]="['../add-recipes']"> Add Recipe</button>
    <table class="table table-striped" *ngIf="recipes">
      <thead>
        <tr>
          <!-- <th style="visibility:collapse;">RecipeId</th> -->
          <th>RecipeName</th>
          <th>Ingredients</th>
          <th>Recipe-Steps</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <!-- <td style="visibility:collapse;">{{recipe.RecipeId}}</td> -->
          <td>{{recipe.recipeName}}</td>
          <td>{{recipe.ingredients}}</td>
          <td>{{recipe.steps}}</td>
          <td> <a class="btn" >
              <i class="fa fa-pencil-square-o"  (click)="editRecipes(recipe.recipeId)"></i>
            </a><!-- <button class="btn btn-default" (click)="deleteRecipes(recipe.recipeId)"> Delete</button> -->
            <a class="btn text-danger" (click)="deleteRecipes(recipe.recipeId)">
                <i class="fa fa-trash-o"></i>
              </a><!--<button class="btn btn-default edit-btn" (click)="editRecipes(recipe.recipeId)"> Edit</button> --></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

