<div class="container">
  <div class="col-md-6">
    <h2> Recipes Details</h2>
    <a routerLink="add-recipes" class="btn btn-success"> Add Recipe</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="visibility:collapse;">RecipeId</th>
          <th>RecipeName</th>
          <th>Ingredients</th>
          <th>Recipe-Steps</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td style="visibility:collapse;">{{recipe.recipeId}}</td>
          <td>{{recipe.recipeName}}</td>
          <td>{{recipe.ingredientName}}</td>
          <td>{{recipe.instructions}}</td>
          <td><button class="btn btn-default" (click)="deleteRecipes(recipe.recipeId)"> Delete</button>
            <a routerLink="edit-recipes"><button class="btn btn-default edit-btn" (click)="editRecipes(recipe)"> Edit</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>