<div class="container">
  <h3>Add a recipe</h3>
  <form class="rec-form" #recForm="ngForm" (ngSubmit)="onSubmit(rec-form)">
    <input type="hidden" class="form-control" [(ngModel)]="recipe.recipeId" name="recipeId">
    <div class="form-group">
      <label for="recipeName">Recipe Name:</label>
      <input type="text" class="form-control" [(ngModel)]="recipe.recipeName" name="recipeName" required>
    </div>
    <div class="form-group">
      <label for="ingredientName">Ingredients Name:</label>
      <input type="text" class="form-control" [(ngModel)]="recipe.ingredientName" name="ingredientName">
    </div>
    <div class="form-group">
      <label for="instructions">Instructions:</label>
      <input type="text" class="form-control" [(ngModel)]="recipe.instructions" name="instructions">
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn-success">Update</button>   
  </form>
</div>