<div class="container">
  <h2>Recipes</h2>

  <input type="hidden" [(ngModel)]="Recipe.recipeId" name="Recipe.recipeId">
  <div class="form-group row">
    <label class=" control-label col-md-12">Recipe Name</label>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="Recipe.recipeName" #RecipeCtrl="ngModel" name="Recipe.recipeName" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Ingredients Name</label>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="Recipe.ingredients" #RecipeCtrl="ngModel" name="Recipe.ingredients" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Recipe Steps</label>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="Recipe.steps" #RecipeCtrl="ngModel" name="Recipe.steps" class="form-control">
    </div>
  </div>

  <br>
  <div>
      <button class="btn btn-default" (click)="onAdd(Recipe)" type="reset">Reset</button>&nbsp;&nbsp;
    <button class="btn btn-success" (click)="onAdd(Recipe)">Save</button>
  </div>
</div>